 @media all and (min-width: 240px) and (max-width: 767px)  {

//MODAL
.modalDialog{
  width: 350px;
  height: 350px;
  border-radius: 175px;
  background-color: $lt-yellow;
  position: absolute;
  top: -2000px;
  left: 15%;
  z-index: 3;
}

.modalDialogBox {
  position: relative;
  top: 15%;
  left: 10%;
  z-index: 4;
  width: 80%;
}

//WORDS
.big-white {
  color: $white;
  text-shadow: -1px 0 $pink, 0 1px $pink, 1px 0 $pink, 0 -1px $pink;
  font-size: 225%;
  margin-left: 20%;
}

.centered {
  text-align: center;
}

.center {
  text-align: center;
  margin: 0 25%;
}

//BUTTONS
.btn-primary-centered{
  margin: 0 40%;
}

.btn {
  background-color: $blue;
  color: $white;
  display: inline-block;
  padding: 4px 9px;
  margin-bottom: 0;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  background-color: $dk-blue;
  color: $white;
  outline: none;
}
.btn:hover,
.btn:focus
.btn:visited {
  background-color: $dk-blue;
  color: $white;
  text-decoration: none;
  outline: none;
}

//IMAGES
.about-images{
  display:inline-block;
  margin: 0 25%;
}

.about-images-rolodex{
  display:inline-block;
  margin: 0 55%;
}

.rolodex-image{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid $lt-gray;
}

.cupid {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid $lt-gray;
  margin: 0 25%;
}

.about-images-rolodex{
  display:inline-block;
  margin: 0 12.5%;
}

//FAQ

.xshide{
  cursor: pointer;
}

#xs1,
#xs2,
#xs3,
#xs4,
#xs5,
#xs6,
#xs7,
#xs8,
#xs9,
#xs10 {
  cursor: pointer;
}

//SPACING

.row-vert-space{
  margin-top: 10px;
}

}