body{
  position: relative;
  z-index: 0;
}

.modalDialog{
  background-color: $lt-yellow;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  top: 25%;
  left: 37.5%;
  z-index: 1000;
  position: relative;
}

.modalDialogBox {
  width: 200px;
  height: 200px;
  position: relative;
  top: 20%;
  left: 25%;
}