//NAVBAR

.navbar-nav > li.yellow:hover {
  background-color: $lt-yellow;
}

.navbar-nav > li.pink:hover {
  background-color: $pink;
}

.navbar-nav > li.blue:hover {
  background-color: $blue;
}

.navbar {
  position: relative;
  min-height: 30px;
  margin-bottom: 0;
  border: none;
}

.navbar-brand{
  padding: 0 15px;
  margin-bottom: 10px;

}

.navbar-font {
  font-size: 24px;
}

.navbar-nav {
  padding-left: 10px;
}

@media screen and (min-width: 568px) and (max-width: 1023px){
  .navbar-brand{
    padding: 0 10px;
    margin-bottom: 7px;
  }

  .navbar-font {
  font-size: 18px;
}

 .right-side{
    margin-top: 7px;
    float: right;
  }

  .dropdown-menu {
    top: 40px;
    left: -50px;
  }

}

@media screen and (min-width: 240px) and (max-width: 567px){
  .navbar-brand{
    padding: 0 5px;
    margin-bottom: 5px;
  }

  .navbar-font {
  font-size: 16px;
}

  .right-side{
    margin-top: 7px;
    float: right;
  }

  .dropdown-menu {
    top: 40px;
    left: -50px;
  }



}

.light {
  font-family: 'neutraface', helvetica, arial, sans-serif;
}

.icon {
  color: $md-gray;
}

.icons {
  color: $md-gray;
}

.icons:hover {
  transition: color .25s;
  color: $blue;
}