 @media all and (max-width: 1024px) and (min-width: 768px) {

//MODAL
.modalDialog{
  width: 350px;
  height: 350px;
  border-radius: 175px;
  background-color: $lt-yellow;
  position: absolute;
  top: -1250px;
  left: 35%;
  z-index: 3;
}

.modalDialogBox {
  position: relative;
  top: 15%;
  left: 30%;
  z-index: 4;
}

//WORDS
.big-white {
  color: $white;
  text-shadow: -1px 0 $pink, 0 1px $pink, 1px 0 $pink, 0 -1px $pink;
  font-size: 225%;
}

.centered {
  text-align: center;
}

//BUTTONS
.btn-primary-centered{
  margin: 0 25%;
}

.btn {
  background-color: $pink;
  color: $white;
  display: inline-block;
  padding: 4px 9px;
  margin-bottom: 0;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn:hover,
.btn:focus {
  background-color: $dk-pink;
  color: $white;
  text-decoration: none;
  outline: none;
}

//IMAGES
.about-images{
  display:inline-block;
  margin: 0 37.5%;
}

.cupid {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 2px solid $lt-gray;
  margin: 0 12.5%;
}

//SERVICES PAGE

.services-container {
  display: inline;
}

//ROLODEX
.about-images-rolodex{
  display:inline-block;
}



}