@font-face {
  font-family: 'neutraface titling';
  src: url("../fonts/neutraface/neutra2displaybold.ttf") format("truetype"); }
@font-face {
  font-family: 'neutraface';
  src: url("../fonts/neutraface/neutra2displaylight.ttf") format("truetype"); }
.container-fluid {
  padding-left: 0px; }

body {
  font-size: 18px;
  font-weight: 400;
  font-family: 'neutraface', helvetica, arial, sans-serif;
  position: relative;
  z-index: 0; }

.description {
  text-align: center; }

.row-vert-space {
  margin-top: 20px; }

.header-bump {
  margin-left: 20px; }

.bump-left {
  margin-left: 7%; }

.big-bump-left {
  margin-left: 15%; }

.big-bump-left-small-view {
  margin-left: 20%; }

.title-bump-left {
  margin-left: 25%; }

.header-spacing {
  margin-top: 10px; }

.bottom-space {
  margin-bottom: 50px; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-pad {
  padding: 0; }

.nav-space {
  margin: 0 5px; }

.footer-bump {
  margin-left: 10px; }

.about-images-rolodex {
  margin: 0 15%; }

.ten-bump {
  margin-left: 10px; }

.tencenter-bump {
  text-align: center;
  margin-left: 10px; }

.twelve-bump {
  margin-left: 12px; }

.fifteen-bump {
  margin-left: 15px; }

.twentyfive-bump {
  margin-left: 25px; }

.thirty-bump {
  margin-left: 30px; }

.forty-bump {
  margin-left: 40px; }

.one-fifteen-bump {
  margin-left: 115px; }

.name-bump {
  padding-left: 20px; }

.name2-bump {
  padding-left: 30px; }

.navbar-nav > li.yellow:hover {
  background-color: #fff565; }

.navbar-nav > li.pink:hover {
  background-color: #ffcccc; }

.navbar-nav > li.blue:hover {
  background-color: #77d9d3; }

.navbar {
  position: relative;
  min-height: 30px;
  margin-bottom: 0;
  border: none; }

.navbar-brand {
  padding: 0 15px;
  margin-bottom: 10px; }

.navbar-font {
  font-size: 24px; }

.navbar-nav {
  padding-left: 10px; }

@media screen and (min-width: 568px) and (max-width: 1023px) {
  .navbar-brand {
    padding: 0 10px;
    margin-bottom: 7px; }

  .navbar-font {
    font-size: 18px; }

  .right-side {
    margin-top: 7px;
    float: right; }

  .dropdown-menu {
    top: 40px;
    left: -50px; } }
@media screen and (min-width: 240px) and (max-width: 567px) {
  .navbar-brand {
    padding: 0 5px;
    margin-bottom: 5px; }

  .navbar-font {
    font-size: 16px; }

  .right-side {
    margin-top: 7px;
    float: right; }

  .dropdown-menu {
    top: 40px;
    left: -50px; } }
.light {
  font-family: 'neutraface', helvetica, arial, sans-serif; }

.icon {
  color: #666666; }

.icons {
  color: #666666; }

.icons:hover {
  transition: color .25s;
  color: #77d9d3; }

#carousel-example-generic {
  position: relative;
  z-index: 0; }

.carousel-styling {
  margin: 0;
  padding: 0; }

.carousel-control.right,
.carousel-control.left {
  background-image: none; }

.rolodex-container {
  height: 200px; }

.navbar-nav > li.yellow:hover {
  background-color: #fff565; }

.navbar-nav > li.pink:hover {
  background-color: #ffcccc; }

.navbar-nav > li.blue:hover {
  background-color: #77d9d3; }

.navbar {
  position: relative;
  min-height: 30px;
  margin-bottom: 0;
  border: none; }

.navbar-brand {
  padding: 0 15px;
  margin-bottom: 10px; }

.navbar-font {
  font-size: 24px; }

.navbar-nav {
  padding-left: 10px; }

@media screen and (min-width: 568px) and (max-width: 1023px) {
  .navbar-brand {
    padding: 0 10px;
    margin-bottom: 7px; }

  .navbar-font {
    font-size: 18px; }

  .right-side {
    margin-top: 7px;
    float: right; }

  .dropdown-menu {
    top: 40px;
    left: -50px; } }
@media screen and (min-width: 240px) and (max-width: 567px) {
  .navbar-brand {
    padding: 0 5px;
    margin-bottom: 5px; }

  .navbar-font {
    font-size: 16px; }

  .right-side {
    margin-top: 7px;
    float: right; }

  .dropdown-menu {
    top: 40px;
    left: -50px; } }
.light {
  font-family: 'neutraface', helvetica, arial, sans-serif; }

.icon {
  color: #666666; }

.icons {
  color: #666666; }

.icons:hover {
  transition: color .25s;
  color: #77d9d3; }

a {
  color: #999999;
  text-decoration: none; }
  a:hover {
    color: #999999;
    text-decoration: none; }
  a:visited {
    color: #666666; }

a.box {
  color: white; }
  a.box:hover {
    color: #999999; }
  a.box:visited {
    color: white; }

p {
  color: #666666;
  font-size: 125%; }
  p.box {
    color: white;
    font-size: 125%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666666;
  font-weight: 700;
  font-family: 'neutraface titling', helvetica, arial, sans-serif; }

.box {
  color: white;
  font-weight: 700;
  font-family: 'neutraface titling', helvetica, arial, sans-serif; }

.navbar {
  color: #999999;
  font-weight: 500;
  font-family: 'neutraface', helvetica, arial, sans-serif; }

.big {
  font-size: 300%; }

.squished {
  margin: 0; }

.compact {
  margin-bottom: 0; }

.upper-compact {
  margin-top: 0; }

.blue {
  color: #77d9d3; }

.yellow {
  color: #fff019; }

.pink {
  color: #ffcccc; }

.big-blue {
  color: #77d9d3;
  font-size: 300%; }

.big-yellow {
  color: #fff019;
  font-size: 300%; }

.big-pink {
  color: #ffcccc;
  font-size: 300%; }

.big-white {
  color: white;
  text-shadow: -1px 0 #ffcccc, 0 1px #ffcccc, 1px 0 #ffcccc, 0 -1px #ffcccc;
  font-size: 300%; }

.centered {
  text-align: center; }

a.blue {
  color: #77d9d3; }

a.yellow {
  color: #fff565; }

a.pink {
  color: #ffcccc; }

a.blue:hover {
  color: #70ccc6;
  text-decoration: none; }

a.yellow:hover {
  color: #fff019;
  text-decoration: none; }

a.pink:hover {
  color: #ff949e;
  text-decoration: none; }

a.blue:visited {
  color: #70ccc6; }

a.yellow:visited {
  color: #fff019; }

a.pink:visited {
  color: #ff949e; }

.right-align {
  text-align: right; }

.cupid {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid #999999; }

.rolodex-image {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  border: 2px solid #999999; }

.julie-cupid {
  margin: 20px 0 0 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid #999999; }

.cupids {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid #999999;
  margin-left: 22%; }

.about-images {
  display: inline-block;
  margin: 0 25%; }

.about-images-rolodex {
  display: inline-block;
  margin: 0 37.5%; }

body {
  position: relative;
  z-index: 0; }

.modalDialog {
  background-color: #fff565;
  width: 400px;
  height: 400px;
  border-radius: 200px;
  top: 25%;
  left: 37.5%;
  z-index: 1000;
  position: relative; }

.modalDialogBox {
  width: 200px;
  height: 200px;
  position: relative;
  top: 20%;
  left: 25%; }

@media all and (max-width: 1024px) and (min-width: 768px) {
  .modalDialog {
    width: 350px;
    height: 350px;
    border-radius: 175px;
    background-color: #fff565;
    position: absolute;
    top: -1250px;
    left: 35%;
    z-index: 3; }

  .modalDialogBox {
    position: relative;
    top: 15%;
    left: 30%;
    z-index: 4; }

  .big-white {
    color: white;
    text-shadow: -1px 0 #ffcccc, 0 1px #ffcccc, 1px 0 #ffcccc, 0 -1px #ffcccc;
    font-size: 225%; }

  .centered {
    text-align: center; }

  .btn-primary-centered {
    margin: 0 25%; }

  .btn {
    background-color: #ffcccc;
    color: white;
    display: inline-block;
    padding: 4px 9px;
    margin-bottom: 0;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none; }

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus {
    outline: none; }

  .btn:hover,
  .btn:focus {
    background-color: #ff949e;
    color: white;
    text-decoration: none;
    outline: none; }

  .about-images {
    display: inline-block;
    margin: 0 37.5%; }

  .cupid {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid #999999;
    margin: 0 12.5%; }

  .services-container {
    display: inline; }

  .about-images-rolodex {
    display: inline-block; } }
@media all and (min-width: 240px) and (max-width: 767px) {
  .modalDialog {
    width: 350px;
    height: 350px;
    border-radius: 175px;
    background-color: #fff565;
    position: absolute;
    top: -2000px;
    left: 15%;
    z-index: 3; }

  .modalDialogBox {
    position: relative;
    top: 15%;
    left: 10%;
    z-index: 4;
    width: 80%; }

  .big-white {
    color: white;
    text-shadow: -1px 0 #ffcccc, 0 1px #ffcccc, 1px 0 #ffcccc, 0 -1px #ffcccc;
    font-size: 225%;
    margin-left: 20%; }

  .centered {
    text-align: center; }

  .center {
    text-align: center;
    margin: 0 25%; }

  .btn-primary-centered {
    margin: 0 40%; }

  .btn {
    background-color: #77d9d3;
    color: white;
    display: inline-block;
    padding: 4px 9px;
    margin-bottom: 0;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none; }

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus {
    background-color: #70ccc6;
    color: white;
    outline: none; }

  .btn:hover,
  .btn:focus
  .btn:visited {
    background-color: #70ccc6;
    color: white;
    text-decoration: none;
    outline: none; }

  .about-images {
    display: inline-block;
    margin: 0 25%; }

  .about-images-rolodex {
    display: inline-block;
    margin: 0 55%; }

  .rolodex-image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid #999999; }

  .cupid {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid #999999;
    margin: 0 25%; }

  .about-images-rolodex {
    display: inline-block;
    margin: 0 12.5%; }

  .xshide {
    cursor: pointer; }

  #xs1,
  #xs2,
  #xs3,
  #xs4,
  #xs5,
  #xs6,
  #xs7,
  #xs8,
  #xs9,
  #xs10 {
    cursor: pointer; }

  .row-vert-space {
    margin-top: 10px; } }
.footer {
  border-top: 1px solid #ffcccc;
  padding-top: 5px;
  font-size: 14px; }

a.footer-link {
  font-weight: bolder; }

.right-side-text {
  float: right; }

.inline-type {
  display: inline; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }

.mmproRegistrationFormBox {
  height: 50%;
  width: 100%; }
